@import './mixin.scss';

.overpass {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
}

:root {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-section {
    background: linear-gradient(to right, #d40420 0, #420202 100%);
    height: 110vh;
}

a {
    text-decoration: none;
    color: black;
}

//navbar css started
nav {
    @include flex();
    position: sticky;
    top: 0;
    z-index: 29;

    >.nav-section {
        width: 77.5%;
        height: 120px;
        background-color: transparent;
        @include flex(row, space-between);
        color: #ffffff;
        font-size: .90rem;
        @include heading(0px, 600, capitalized);

        >li {
            list-style: none;
        }

        >button {
            @include button(#ffffff, 5px, .5rem, .5rem);
            font-size: .95rem;
            font-family: Poppins, sans-serif;
            @include heading(1px, 700, capitalized)
        }
    }
}

.active-nav {
    background-color: #000000;
    height: 82px;
    transition: all .1s ease-in-out;
}



//home page start
.home-section {
    @include flex(column);
    margin: 0;

    >.intro-section {
        height: 720px;
        @include grid(8fr 4fr);
        width: 77.5%;

        .form-section {
            position: relative;

            >.callback-form {
                position: absolute;
                margin-left: 1rem;
                padding: 1.5rem;
                background-color: #ffffff;
                border-radius: 10px;
                @include flex(column, center, left);

                >div {
                    font-size: .9rem;
                    width: 100%;
                    @include flex(column, left, left);

                    >label {
                        @include heading(0px, 300, normal);
                        font-family: arial, helvetica, sans-serif;
                        color: #33475b;
                    }

                    >input {
                        @include inputStyle(100%, 1rem, #f5f8fa, 1px solid #cbd6e2);
                        border-radius: 3px;
                        height: 40px;
                    }

                    >a {
                        @include flex(row, top, top);
                        @include heading(0px, 600, normal);
                        font-size: .8rem;
                        word-spacing: 2px;

                        >svg {
                            font-size: 2.5rem;
                            color: #ff7a59;
                        }

                        >p {
                            color: #33475b;

                            >span {
                                color: #ff7a59;
                                text-decoration: underline;
                                line-height: 2rem;
                            }
                        }
                    }
                }

                >button {
                    @include button(#ff7a59, 3px, .7rem, 1rem, white);
                    @include heading(0, 600, normal);
                    width: 55%;
                    margin: 1.2rem 0;
                }
            }
        }

        >.intro-left {
            @include flex(row, left, center);

            >div {
                @include flex(column, space-between, left);
                height: 490;
                position: relative;
                top: -5rem;


                >.digital-marketing-agency {
                    @include button2(#66AEFF, 50px, #002176, 180px);
                    @include heading(0px, 100, normal);
                }

                >h1 {
                    color: #ffffff;
                    @extend .overpass;
                    @include heading(0, 700, normal);
                    font-size: 3rem;
                    line-height: 3.5rem;
                }

                >p {
                    line-height: 3rem;

                    color: #d8def2;

                }

                >button {
                    @include button(#000000, 50px, .3rem, .3rem, #ffffff);
                    font-size: 14px;
                    width: 40%;

                    >span {
                        position: relative;
                        right: 1rem;
                        @include button(#ffffff, 50%, 1rem, 1rem, #000000);
                        font-size: .8rem;

                    }
                }
            }
        }
    }

    //features section
    >.features-section {
        background-color: #ffffff;
        width: 100%;
        @include flex();
        padding: 7rem 0;

        >.features-section-inner-div {
            width: 77.5%;
            @include grid(6fr 6fr);

            >.seo-container {
                padding: .8rem;

                >h4 {
                    @include button2(#ffffff, 50px, #ffffff, 120px);
                    background: linear-gradient(to right, #7926fe 0, #c95ae4 100%);
                    font-weight: 400;
                }

                >h1 {
                    padding: 1.5rem 0 3.1rem;
                    @extend .overpass;
                    color: #BA1128;
                    font-weight: 800;
                    line-height: 3rem;
                    font-size: 2.2rem;
                    font-style: "Overpass", sans-serif;
                }
            }

            >.feature-section-card {
                padding: .8rem;
                @include grid(6fr 6fr, unset, 1.9rem);

                >.feature-card {
                    @include flex(column);
                    text-align: center;
                    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
                    position: relative;
                    padding: 1.5rem 1.30rem;

                    >div {
                        @include square(2rem);
                        border-radius: 50%;
                        background-color: #F5E4F9;
                        position: absolute;
                        top: 2rem;
                        left: 6rem;
                    }

                    >svg {
                        color: #a44ef4;
                        font-size: 3rem;
                        z-index: 3;
                    }

                    >h3 {
                        @extend .overpass;
                        color: #3a3a3a;
                        font-weight: 800;
                    }

                    >p {
                        color: #4d6195;
                    }

                }

                >.feature-card:nth-child(even) {
                    position: relative;
                    top: 2rem;
                }
            }

        }
    }


    // Services Section

    .services-section {
        background-color: #f5fbfe;
        width: 100%;
        @include flex(column);
        padding: 6rem 0;

        >.services-top-section {
            @include flex(column);

            >div {
                @include button2(#ffdb4c, 50px, #002176, 120px)
            }

            >h1 {
                @include heading(1px, 800, normal);
                font-size: 2.2rem;
                @extend .overpass;
                color: #BA1128;
            }
        }

        >.service-card-container {
            width: 77.5%;
            @include grid(4fr 4fr 4fr, unset, 3rem);

            >.service-card {
                >.img-div {
                    @include square(100px);
                    border: 1px dashed black;
                    border-radius: 50%;
                    @include flex();

                    >img {
                        width: 70%;
                    }
                }

                >h1 {
                    @extend .overpass;
                    font-size: 1.5rem;
                    font-weight: 800;
                    color: #002176;
                    padding: 1rem 0;
                }

                >h1:hover {
                    color: #BA1128;
                    cursor: pointer;
                }

                >a {
                    color: #2AD89F;
                    font-size: .9rem;
                    font-weight: 600;
                }

                >a:hover {
                    color: #33475b;
                }
            }
        }
    }

    //Suggestion Section
    >.suggestion-section {
        width: 100%;
        background-color: #d2214d;
        text-align: center;
        @include flex(column);
        position: relative;
        padding: 7rem 0;


        >img {
            position: absolute;
            left: 4rem;
            top: 4.5rem;
        }

        >div {
            @include button2(#66aeff, 50px, #002176);
            padding: .3rem 1.5rem;
        }

        >h1 {
            @extend .overpass;
            font-weight: 800;
            font-size: 2.5rem;
            color: #ffffff;
            padding-bottom: 2.5rem;
        }

        >p {
            font-size: 1rem;
            color: #ffffff;
        }

        >.suggestion-form {
            gap: 2rem;
            width: 60%;
            @include flex(row, space-between);

            >input {
                transition: all 1s ease-out;
                @include inputStyle(100%, 1rem, inherit, 1px solid #ffffff4d);
                border-radius: 50px;
                padding: 1.3rem 1.5rem;
            }

            >input:focus {
                outline: 1px solid #ffffff;
            }

            >input::placeholder {
                color: #ffffff;
                font-weight: 500;
                font-size: 1rem;
                font-family: Poppins, sans-serif;
            }

            >button {
                @include button(#000000, 50px, .5rem, 1.2rem, #ffffff);
                font-size: 14px;
                width: 100%;
                
                >span {
                    position: relative;
                    right: .75rem;
                    @include button(#ffffff, 50%, 1rem, 1rem, #000000);
                    font-size: .8rem;

                }
            }
            >button:hover{
                transition: all .3s ease-out;
                background-color: #b91128;
            }
        }
    }
} 



//what whatsapp sticky button
.whatsapp-sticky-div {
    position: sticky;
    bottom: 5px;
    left: 90%;
    width: 100px;
    @include button(#df9faf, 50px, .6rem);

    >.whatsapp-sticky-button {
        @include button(#2AB13F, 50px, 0, 0);
        color: #ffffff;
        font-size: 2.5rem;
        z-index: 20;
    }
}