@mixin heading($spacing:3px,$weight:300,$case:uppercase){
    letter-spacing: $spacing;
    font-weight: $weight;
    text-transform: $case;
}


@mixin flex($dir:row,$justifyContent:center,$alignItems:center,$gap:1rem){
    display: flex;
    flex-direction: $dir;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
}

@mixin grid($col:1fr,$row:unset,$gap:1rem){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $gap;
}

@mixin inputStyle($w:100%,$p:1rem,$bgColor:inherit,$border:none){
    padding: $p;
    border: $border;
    background-color: $bgColor;
    width: $w;
    outline: none;
}

@mixin posCenter(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin square($s:1rem){
    width: $s;
    height: $s;
}

@mixin button($bgColor:white ,$bRadius:50px,$pTopBottom:1rem,$pLeftRight:1rem,$color:'black'){
    border: none;
    border-radius: $bRadius;
    background-color: $bgColor;
    @include flex();
    padding:$pTopBottom $pLeftRight;
    color: $color;
}
@mixin button2($bgColor:white ,$bRadius:50px,$color:'black',$width:'120px',$fSize:.8rem){
    @include flex();
    background-color: $bgColor;
    border-radius: $bRadius;
    color: $color;
    width: $width;
    font-size: $fSize;
    padding:.3rem;
}